[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/Dav1dde/glad
[submodule "dependencies/lua"]
	path = dependencies/lua
	url = https://github.com/lua/lua/
